/* Header CSS 

  - CSS para os headers da página de adoção

*/

#header-adoption {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4rem;
}

.header-button {
  display: flex !important;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.container-header .title {
  font-size: calc(1.2em + 0.1vw);
}

.container-header .subtitle {
  font-size: calc(0.9em + 0.1vw);
}

#all-animals {
  margin-top: 2rem;
}

/* Form CSS  */
#form-search-animal {
  flex: 1;
}

.search-input-container {
  position: relative;
  width: 100%;
}

.search-input-animal {
  width: 100%;
  padding-left: 3rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 20px;
  pointer-events: none;
}

/* Donation Page Start */
.donation-cards-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.donation-cards-container .needs-card {
  border: 1px solid var(--tertiary-color);
  width: 235px;
}

.donation-cards-container .needs-card:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.donation-card-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.title-card-donation {
  color: var(--primary-color);
  font-size: calc(1.5em + 0.2vw);
}

.title-card-donation span {
  font-size: 0.8em;
}

.donation-tag {
  position: absolute;
  top: -60px;
  right: -59px;
  padding: 3px 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  opacity: .1;
}

.donation-cards-container .text {
  font-size: .85em;
}

/* Donation Page End */
