/* Header CSS 

    - CSS para os headers da página de adoção

*/

#header-adoption {
  margin-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4rem;
}

.header-button {
  display: flex !important;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.container-header .title {
  font-size: calc(1.2em + 0.1vw);
}

.container-header .subtitle {
  font-size: calc(0.9em + 0.1vw);
}

#header-adoption .see-all-btn {
  margin: 0;
}

/* Form CSS  */
#form-search-animal {
  flex: 1;
}

.search-input-container {
  position: relative;
  width: 100%;
}

.search-input-animal {
  width: 100%;
  padding-left: 3rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 20px;
  pointer-events: none;
}

/* --- Estilização dos Selects Customizados --- */
.custom-select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  overflow: hidden; /* Importante para esconder o select nativo se necessário */
}

.custom-select {
  /* Remove a aparência nativa (a seta padrão do sistema) */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Estilos visuais */
  border: none;
  background: transparent;
  padding: 15px 40px 15px 15px; /* Padding: 40px para a seta customizada */
  font-size: 16px;
  color: #333;
  cursor: pointer;
  z-index: 1;
}

/* 1. Ícone de Filtro (na primeira box 'Todos') */
.species-filter .filter-icon {
  color: #a0a0a0;
  font-size: 20px;
  padding-left: 15px; /* Espaço à esquerda */
  padding-right: 5px; /* Espaço para o texto */
}

/* 2. Seta Customizada para todos os selects */
.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #a0a0a0;
  font-size: 24px;
  pointer-events: none; /* Não bloqueia o clique no select */
  z-index: 2; /* Sobrepõe o select */
}
