/* Hero CSS 

  Estilos para a seção hero inicial da página.

*/

#hero .container-row {
  width: 100%;
}

#hero .container-column {
  flex: 1;
}

.hero-img {
  max-width: 472px;
  max-height: 712px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
