/* Navbar CSS 

  Estilos para a barra de navegação e para a barra lateral.

*/

.navbar {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav,
.sidebar .sidebar-nav {
  list-style: none;
  gap: 20px;
}

.navbar .nav {
  display: none;
}

.navbar .nav .nav-link,
.sidebar .sidebar-nav .sidebar-nav-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  transition: color 150ms ease;
}

.navbar .nav .nav-link:hover,
.sidebar .sidebar-nav .sidebar-nav-link:hover {
  color: var(--primary-color);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  background-color: var(--white-color);
  box-shadow: 2px -10px 15px rgba(0, 0, 0, 0.1);
  transition: right 250ms ease;
  z-index: 1000;
  padding: 20px;
}

.sidebar.active {
  right: 0;
}

.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .menu-burguer {
  position: absolute;
  top: 20px;
  right: 30px;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px;
}

/* Menu Burguer Button CSS */
.menu-burguer {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.material-symbols-outlined {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 24px;
  display: inline-block;
  transition: background-color 0.3s;
}

.material-symbols-outlined:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none !important;
}
